USE [master]
GO
/****** Object:  Database [Master_Pol]    Script Date: 16.12.2024 18:03:43 ******/
CREATE DATABASE [Master_Pol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Master_Pol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Master_Pol.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Master_Pol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Master_Pol_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Master_Pol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Master_Pol]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 16.12.2024 18:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [nvarchar](255) NULL,
	[ScrapRate] [float] NULL,
 CONSTRAINT [PK__Material__3214EC2757FF6162] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProducts]    Script Date: 16.12.2024 18:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProducts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[partnerID] [int] NULL,
	[quantityProduct] [int] NULL,
	[dateSell] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 16.12.2024 18:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[partnerType] [nvarchar](50) NULL,
	[partnerName] [nvarchar](100) NULL,
	[Director] [nvarchar](50) NULL,
	[partnerEmail] [nvarchar](50) NULL,
	[partnerPhone] [nvarchar](25) NULL,
	[partnerAdress] [nvarchar](max) NULL,
	[partnerINN] [nvarchar](10) NULL,
	[partnerRating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 16.12.2024 18:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[productTypeID] [int] NULL,
	[productName] [nvarchar](255) NULL,
	[artikul] [nvarchar](7) NULL,
	[minCountForPartner] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Product__3214EC27C51702E5] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 16.12.2024 18:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ID] [int] NOT NULL,
	[productsType] [nvarchar](50) NULL,
	[kfTypeProducts] [float] NULL,
 CONSTRAINT [PK__ProductT__3214EC27329D702F] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD FOREIGN KEY([partnerID])
REFERENCES [dbo].[Partners] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK__PartnerPr__produ__412EB0B6] FOREIGN KEY([productID])
REFERENCES [dbo].[Product] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK__PartnerPr__produ__412EB0B6]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__product__3E52440B] FOREIGN KEY([productTypeID])
REFERENCES [dbo].[ProductType] ([ID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__product__3E52440B]
GO
USE [master]
GO
